{% extends 'base.html.twig' %}

{% block title -%}
Meu perfil &ndash; {{ parent() }}
{%- endblock %}

{% block body %}
    <div class="container py-5">
        <img src="https://unsplash.it/120/120" alt="" class="img-thumbnail rounded-circle mx-auto d-block mb-2">

        <h2 class="display-4 text-center">
            {{ user.username }}
        </h2>

        <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd>fulano@example.org</dd>

            <dt>Citação preferida</dt>
            <dd>
                <blockquote class="font-italic">
                    The slovenly wub might well have said: Many men
                    talk like philosophers and live like fools.
                </blockquote>
            </dd>
        </dl>

        <hr class="mt-5 mb-2">
        <p class="text-center">
            <a href="#" class="btn btn-link">Editar perfil</a>
        </p>



    </div>
{% endblock %}
