{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="display-1 my-5">Vamos começar?</h1>

        <p>
            <a href="#">Criar uma conta</a>
        </p>
        <p>
            <a href="#">Entrar</a>
        </p>
    </div>
{% endblock %}