{% extends 'base.html.twig' %}

{% block title -%}
    Entrar &ndash; {{ parent() }}
{%- endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 my-5">Entrar</h1>

    </div>
{% endblock %}